.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.modal-content {
    background-color: #000;
    width: 50vw;
    height: 50vh;
    position: relative;
}

.dropdown-section {
    display: flex;
    justify-content: space-between;
}

.form {
    min-width: 450px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.form-button {
    margin-top: 20px;
    align-self: center;
}

.transaction-block {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.transaction-type-button {
    border: none;
    background: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
}

.button-block {
    display: flex;
    gap: 10px;
}

.income-type {
    border: 1px solid var(--income-block-color);
}

.income-type:hover,
.income-active {
    background-color: var(--income-block-color);
}

.expense-type {
    border: 1px solid var(--expense-block-color);
}

.expense-type:hover,
.expense-active {
    background-color: var(--expense-block-color);
}

.error {
    margin-top: 10px;
    font-size: 14px;
    color: var(--expense-block-color)
}



.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: var(--primary-color);
    cursor: pointer;
}

.close-button:hover {
    background-color: var(--primary-hover-color);
}