.dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
    padding: 10px;
    background-color: var(--primary-color);
    border-radius: 10px;
}

.dropdown-title {
    display: flex;
    align-items: center;
    gap: 20px;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 42px;
    background-color: black;
    border: 1px solid var(--primary-hover-color);
    border-radius: 10px;
    min-width: 100px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-item {
    border-radius: 10px;
    padding: 10px;
}

.arrow {
    font-size: 22px;
    transition: transform 0.5s ease;
}


.active {
    transform: rotate(-180deg);
}


.dropdown-item:hover {
    background-color: var(--primary-color);
}

.dropdown:hover .dropdown-content {
    display: block;
}