.profile {
    justify-self: center;
    flex: 1;
    height: 85vh;
}

.content-block {
    height: 85vh;
    justify-self: center;
    flex: 2;
    display: flex;
    gap: 40px;
    flex-direction: column;
    justify-content: space-around;
}

.graph {
    flex: 1;
}

.transaction {
    flex: 1;
}